* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f2f2;
  padding: 20px;
}

header {
  background: #111;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
}

.search-box {
  margin: 20px auto;
  max-width: 400px;
}

.search-box input {
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: #fff;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.card h3 {
  margin: 10px 0;
}

.price {
  color: green;
  font-weight: bold;
}

.btn {
  background: #111;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 25px;
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background: #333;
}

/* LOGIN & ADMIN */
.form {
  max-width: 400px;
  background: #fff;
  padding: 20px;
  margin: 50px auto;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form input,
.form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.form button {
  width: 100%;
}
/* NAVBAR */
.navbar{
  background:#111;
  color:#fff;
  padding:15px 20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border-radius:12px;
  margin-bottom:20px;
}
.navbar h2{font-size:20px}
.cart-btn{
  background:#fff;
  color:#111;
  padding:8px 15px;
  border-radius:20px;
  cursor:pointer;
  font-weight:bold;
}

/* CART MODAL */
.cart-modal{
  position:fixed;
  top:0;left:0;
  width:100%;height:100%;
  background:rgba(0,0,0,.6);
  display:none;
  justify-content:center;
  align-items:center;
}
.cart-box{
  background:#fff;
  width:90%;
  max-width:400px;
  padding:20px;
  border-radius:15px;
}
.cart-item{
  display:flex;
  justify-content:space-between;
  margin-bottom:10px;
}

/* FOOTER */
footer{
  margin-top:40px;
  text-align:center;
  color:#777;
}